@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?yr5bc4') format('truetype'),
    url('fonts/icomoon.woff?yr5bc4') format('woff'),
    url('fonts/icomoon.svg?yr5bc4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkaccount-o:before {
  content: "\ebd7";
}
.icon-help-guide-o:before {
  content: "\ebd6";
}
.icon-dataupload-o:before {
  content: "\ebd5";
}
.icon-note-template:before {
  content: "\ebd4";
}
.icon-businesstrip-o:before {
  content: "\ebc3";
}
.icon-businesstrip:before {
  content: "\ebc4";
}
.icon-callback-o:before {
  content: "\ebc5";
}
.icon-callback:before {
  content: "\ebc6";
}
.icon-celebrate-o:before {
  content: "\ebc7";
}
.icon-celebrate:before {
  content: "\ebc8";
}
.icon-hospital-o:before {
  content: "\ebc9";
}
.icon-hospital:before {
  content: "\ebca";
}
.icon-movie-o:before {
  content: "\ebcb";
}
.icon-movie:before {
  content: "\ebcc";
}
.icon-music:before {
  content: "\ebcd";
}
.icon-read-o:before {
  content: "\ebce";
}
.icon-read:before {
  content: "\ebcf";
}
.icon-shopping-o:before {
  content: "\ebd0";
}
.icon-shopping:before {
  content: "\ebd1";
}
.icon-travel-o:before {
  content: "\ebd2";
}
.icon-travel:before {
  content: "\ebd3";
}
.icon-side:before {
  content: "\ebc0";
}
.icon-setting-widget:before {
  content: "\ebb4";
}
.icon-setting-calendar:before {
  content: "\ebb5";
}
.icon-setting-client:before {
  content: "\ebb6";
}
.icon-setting-composite:before {
  content: "\ebb7";
}
.icon-setting-cwp:before {
  content: "\ebb8";
}
.icon-setting-rebalance:before {
  content: "\ebb9";
}
.icon-setting-submit:before {
  content: "\ebba";
}
.icon-setting-view:before {
  content: "\ebbb";
}
.icon-setting-app:before {
  content: "\ebbc";
}
.icon-setting-account:before {
  content: "\ebbd";
}
.icon-setting-account-groups:before {
  content: "\ebbe";
}
.icon-setting-access:before {
  content: "\ebbf";
}
.icon-credential-circle-o:before {
  content: "\ebb0";
}
.icon-baa-square:before {
  content: "\ebaa";
}
.icon-separate:before {
  content: "\eba8";
}
.icon-transactionsexclude-o:before {
  content: "\eb9f";
}
.icon-program-close:before {
  content: "\eb9b";
}
.icon-firmpermission:before {
  content: "\eb9a";
}
.icon-partial-o:before {
  content: "\eb95";
}
.icon-sandglass-o:before {
  content: "\eb96";
}
.icon-high:before {
  content: "\eb92";
}
.icon-cancelorder-o:before {
  content: "\eb87";
}
.icon-block:before {
  content: "\eb88";
}
.icon-unblock:before {
  content: "\eb89";
}
.icon-search-o:before {
  content: "\eba6";
}
.icon-zoomout-o:before {
  content: "\eb0e";
}
.icon-zoomin-o:before {
  content: "\eb80";
}
.icon-rotate-left:before {
  content: "\ebda";
}
.icon-rotate-right:before {
  content: "\ebdb";
}
.icon-disclosure-o:before {
  content: "\eac9";
}
.icon-link-o:before {
  content: "\e96c";
}
.icon-marketassumption-o:before {
  content: "\e967";
}
.icon-decrease-indent:before {
  content: "\eba4";
}
.icon-increase-indent:before {
  content: "\eba5";
}
.icon-bold:before {
  content: "\eaae";
}
.icon-italic:before {
  content: "\eabf";
}
.icon-strikethrough:before {
  content: "\ead9";
}
.icon-underscore:before {
  content: "\eaea";
}
.icon-line:before {
  content: "\eac1";
}
.icon-divider-o:before {
  content: "\ebac";
}
.icon-coverpage-o:before {
  content: "\ebad";
}
.icon-importantinformation-o:before {
  content: "\ea61";
}
.icon-importantinformation:before {
  content: "\ea88";
}
.icon-contracts:before {
  content: "\ea65";
}
.icon-contracts-o:before {
  content: "\ea7d";
}
.icon-sysbr2:before {
  content: "\ead8";
}
.icon-beta:before {
  content: "\ebdd";
}
.icon-new:before {
  content: "\ebd9";
}
.icon-sys:before {
  content: "\eb0c";
}
.icon-ud:before {
  content: "\e954";
}
.icon-calculate:before {
  content: "\e948";
}
.icon-calculate-o:before {
  content: "\e94d";
}
.icon-loading:before {
  content: "\e946";
}
.icon-Insurance:before {
  content: "\eb6f";
}
.icon-Insurance-o:before {
  content: "\eb07";
}
.icon-two-step-on:before {
  content: "\eaa4";
}
.icon-two-step-on-o:before {
  content: "\eaeb";
}
.icon-two-step-off:before {
  content: "\eaa3";
}
.icon-two-step-off-o:before {
  content: "\eb6d";
}
.icon-riskprofile-o:before {
  content: "\e9c4";
}
.icon-riskprofile:before {
  content: "\ea8a";
}
.icon-two-step-sms:before {
  content: "\eb51";
}
.icon-profile:before {
  content: "\eaec";
}
.icon-profile-o:before {
  content: "\eb69";
}
.icon-templates-o:before {
  content: "\e92d";
}
.icon-templates:before {
  content: "\eb67";
}
.icon-target-o:before {
  content: "\e9e7";
}
.icon-target:before {
  content: "\ea18";
}
.icon-IM-square:before {
  content: "\ea72";
}
.icon-email-square:before {
  content: "\ea70";
}
.icon-phone-square:before {
  content: "\ea6b";
}
.icon-callback-square:before {
  content: "\eb2f";
}
.icon-appointment-square:before {
  content: "\ea3b";
}
.icon-document-square:before {
  content: "\ea63";
}
.icon-meeting-square:before {
  content: "\ea53";
}
.icon-sentemail-square:before {
  content: "\ea51";
}
.icon-reademail-square:before {
  content: "\ea52";
}
.icon-review-square:before {
  content: "\ea59";
}
.icon-activity-square:before {
  content: "\ea64";
}
.icon-note-square:before {
  content: "\ea6a";
}
.icon-arrow:before {
  content: "\ea2b";
}
.icon-replyall:before {
  content: "\e9c5";
}
.icon-forward:before {
  content: "\e9bf";
}
.icon-reply:before {
  content: "\e9c3";
  color: #545454;
}
.icon-member-o:before {
  content: "\e944";
}
.icon-member:before {
  content: "\e915";
}
.icon-commissionmanagements:before {
  content: "\ea1e";
}
.icon-commission:before {
  content: "\e902";
}
.icon-upload:before {
  content: "\e6b6";
}
.icon-download:before {
  content: "\e6b7";
}
.icon-sort-ascending:before {
  content: "\eb29";
}
.icon-sort-descending:before {
  content: "\eb28";
}
.icon-centeralign:before {
  content: "\eb8b";
}
.icon-leftalign:before {
  content: "\eb8c";
}
.icon-rightalign:before {
  content: "\eb8d";
}
.icon-top:before {
  content: "\e949";
}
.icon-expanddouble:before {
  content: "\ead3";
}
.icon-left:before {
  content: "\e984";
}
.icon-arrowdown:before {
  content: "\ebc1";
}
.icon-arrowup:before {
  content: "\ebc2";
}
.icon-sale-circle:before {
  content: "\eada";
}
.icon-sale-circle-o:before {
  content: "\e914";
}
.icon-left-circle-o:before {
  content: "\e986";
}
.icon-right:before {
  content: "\e9b7";
}
.icon-buy-circle:before {
  content: "\eadb";
}
.icon-buy-circle-o:before {
  content: "\e920";
}
.icon-right-circle-o:before {
  content: "\e985";
}
.icon-expand:before {
  content: "\e9e2";
}
.icon-expand-circle-o:before {
  content: "\e978";
}
.icon-collapse:before {
  content: "\e99f";
}
.icon-collapse-left:before {
  content: "\eb9c";
}
.icon-collapse-circle-o:before {
  content: "\e9ef";
}
.icon-permission-o:before {
  content: "\e971";
}
.icon-assign-o:before {
  content: "\ea04";
}
.icon-attendeeusers:before {
  content: "\e950";
}
.icon-newuser-o:before {
  content: "\ea06";
}
.icon-convert:before {
  content: "\e9a5";
}
.icon-impersonation:before {
  content: "\e966";
}
.icon-linkedclients:before {
  content: "\e9b2";
}
.icon-relatedto:before {
  content: "\e9c1";
}
.icon-linkedcontact:before {
  content: "\e9b3";
}
.icon-clientreview-o:before {
  content: "\eaad";
}
.icon-notassigned-o:before {
  content: "\ebb2";
}
.icon-lostclient:before {
  content: "\ea9e";
}
.icon-newclients:before {
  content: "\ea9d";
}
.icon-shared:before {
  content: "\eb1e";
}
.icon-shared-o:before {
  content: "\eb86";
}
.icon-personalinfo-o:before {
  content: "\e9d2";
}
.icon-personalinfo:before {
  content: "\ea85";
}
.icon-clientgroups:before {
  content: "\e95e";
}
.icon-clientgroup-o:before {
  content: "\ea7c";
}
.icon-prospect:before {
  content: "\e957";
}
.icon-prospect-o:before {
  content: "\e980";
}
.icon-unregistered-o:before {
  content: "\eac4";
}
.icon-unregistered:before {
  content: "\eaca";
}
.icon-advisorpayout:before {
  content: "\eb66";
}
.icon-advisorpayout-o:before {
  content: "\e951";
}
.icon-advisormessage-o:before {
  content: "\e91e";
}
.icon-advisor-o:before {
  content: "\eba2";
}
.icon-advisor:before {
  content: "\eba3";
}
.icon-contactgroups-o:before {
  content: "\ea01";
}
.icon-accountgroups-o:before {
  content: "\e9fc";
}
.icon-clientgroups-o:before {
  content: "\e9f9";
}
.icon-clients:before {
  content: "\e9b5";
}
.icon-clients-o:before {
  content: "\e974";
}
.icon-name:before {
  content: "\e987";
}
.icon-name-o:before {
  content: "\e9dd";
}
.icon-page-o:before {
  content: "\ebae";
}
.icon-content-o:before {
  content: "\ebaf";
}
.icon-tradeblotter-o:before {
  content: "\ea3c";
}
.icon-payoutexpenses:before {
  content: "\e9fa";
}
.icon-payoutexpenses-o:before {
  content: "\e9fb";
}
.icon-custodian:before {
  content: "\e97a";
}
.icon-custodian-o:before {
  content: "\eb4c";
}
.icon-custodian-import:before {
  content: "\eb50";
}
.icon-taxinfo:before {
  content: "\eaa1";
}
.icon-taxinfo-o:before {
  content: "\e982";
}
.icon-packages:before {
  content: "\eb64";
}
.icon-packages-o:before {
  content: "\e952";
}
.icon-overview-o:before {
  content: "\eb63";
}
.icon-overview:before {
  content: "\ea84";
}
.icon-alertrule-o:before {
  content: "\ebab";
}
.icon-alerts-o:before {
  content: "\ea80";
}
.icon-alerts:before {
  content: "\e96d";
}
.icon-daterange:before {
  content: "\eb4e";
}
.icon-advyzonu:before {
  content: "\ea46";
}
.icon-activities:before {
  content: "\ea3d";
}
.icon-activities-o:before {
  content: "\ea82";
}
.icon-historytime:before {
  content: "\e9cd";
}
.icon-todo:before {
  content: "\eba0";
}
.icon-todo-o:before {
  content: "\e9c8";
}
.icon-newactivity-o:before {
  content: "\eb99";
}
.icon-refresh:before {
  content: "\e9e0";
}
.icon-payoutratio-o:before {
  content: "\eb65";
}
.icon-reset:before {
  content: "\e9b8";
}
.icon-repeat:before {
  content: "\e947";
}
.icon-automaticalerts:before {
  content: "\e9d4";
}
.icon-composite:before {
  content: "\e959";
}
.icon-disconnected-o:before {
  content: "\ebb1";
}
.icon-upcoming-o:before {
  content: "\eb5e";
}
.icon-sync:before {
  content: "\e94c";
}
.icon-nonrepeating:before {
  content: "\e9bd";
}
.icon-history:before {
  content: "\ea81";
}
.icon-auto:before {
  content: "\eb5f";
}
.icon-auto-o:before {
  content: "\e9b6";
}
.icon-notstarted-circle-o:before {
  content: "\e9df";
}
.icon-deferred-circle-o:before {
  content: "\e91c";
}
.icon-deferred:before {
  content: "\e9d5";
}
.icon-complete-circle-o:before {
  content: "\e9d3";
}
.icon-inprogress:before {
  content: "\e9da";
}
.icon-waiting:before {
  content: "\e9e4";
}
.icon-related-circle-o:before {
  content: "\e94f";
}
.icon-security-circle-o:before {
  content: "\e93f";
}
.icon-expired-o:before {
  content: "\eafd";
}
.icon-view:before {
  content: "\e9cb";
}
.icon-log-o:before {
  content: "\eb5a";
}
.icon-add-square:before {
  content: "\e9f7";
}
.icon-add-square-o:before {
  content: "\e993";
}
.icon-exclusion-o:before {
  content: "\eb56";
}
.icon-mapping-square-o:before {
  content: "\eb57";
}
.icon-notification-attention:before {
  content: "\eb61";
}
.icon-notification-attention-o:before {
  content: "\eb60";
}
.icon-setting:before {
  content: "\e9e3";
}
.icon-setting-o:before {
  content: "\e953";
}
.icon-notification:before {
  content: "\e9de";
}
.icon-comment-o:before {
  content: "\eaf4";
}
.icon-inbox:before {
  content: "\e9b1";
}
.icon-inbox-o:before {
  content: "\e9e1";
}
.icon-archivedinbox:before {
  content: "\eb5c";
}
.icon-archivedinbox-o:before {
  content: "\e983";
}
.icon-archivedsent-o:before {
  content: "\eb5d";
}
.icon-archivedsentmail-o:before {
  content: "\e9a4";
}
.icon-sent:before {
  content: "\e9c6";
}
.icon-sentemail-o:before {
  content: "\eb5b";
}
.icon-resent:before {
  content: "\e9a8";
}
.icon-combination:before {
  content: "\e919";
}
.icon-combination-o:before {
  content: "\eb53";
}
.icon-reclassify-o:before {
  content: "\eb54";
}
.icon-usersecurities-o:before {
  content: "\eb55";
}
.icon-exchange-o:before {
  content: "\eb58";
}
.icon-support-circle:before {
  content: "\e9e5";
}
.icon-support-circle-o:before {
  content: "\e963";
}
.icon-market-2:before {
  content: "\ea49";
}
.icon-widget-o:before {
  content: "\eb4d";
}
.icon-widget:before {
  content: "\eaa8";
}
.icon-task-o:before {
  content: "\ea4a";
}
.icon-task-square-o:before {
  content: "\ea38";
}
.icon-task-square:before {
  content: "\ea39";
}
.icon-baa-transactional-o:before {
  content: "\eb1f";
}
.icon-baa-positional-o:before {
  content: "\eb20";
}
.icon-warning:before {
  content: "\ea2a";
}
.icon-warning-circle:before {
  content: "\e62d";
}
.icon-warning-circle-o:before {
  content: "\e635";
}
.icon-triangle:before {
  content: "\ea9a";
}
.icon-warning-triangle:before {
  content: "\e9a2";
}
.icon-warning-triangle-o:before {
  content: "\e96b";
}
.icon-check:before {
  content: "\e633";
}
.icon-check-circle:before {
  content: "\e95d";
}
.icon-check-circle-o:before {
  content: "\e638";
}
.icon-add:before {
  content: "\e627";
}
.icon-add-circle:before {
  content: "\e91b";
}
.icon-add-circle-o:before {
  content: "\e928";
}
.icon-subtract-circle:before {
  content: "\e923";
}
.icon-subtract-circle-o:before {
  content: "\e91d";
}
.icon-restore-circle:before {
  content: "\eb6a";
}
.icon-restore-circle-o:before {
  content: "\eb6b";
}
.icon-close:before {
  content: "\e970";
}
.icon-close-circle-o:before {
  content: "\e637";
}
.icon-close-circle:before {
  content: "\e636";
}
.icon-equal-circle:before {
  content: "\eb2c";
}
.icon-equal-circle-o:before {
  content: "\eb2d";
}
.icon-time:before {
  content: "\e9ee";
}
.icon-time-o:before {
  content: "\e9dc";
}
.icon-info-o:before {
  content: "\e91a";
}
.icon-info:before {
  content: "\e91f";
}
.icon-disable-circle-o:before {
  content: "\ead6";
}
.icon-disable-circle:before {
  content: "\ead5";
}
.icon-IM:before {
  content: "\e995";
}
.icon-IM-o:before {
  content: "\e93c";
}
.icon-contactus-o:before {
  content: "\ea31";
}
.icon-dashboard:before {
  content: "\ea25";
}
.icon-dashboard-o:before {
  content: "\ea24";
}
.icon-transactional-imported-o:before {
  content: "\eb21";
}
.icon-positional-o:before {
  content: "\eb22";
}
.icon-check-circle-dotted:before {
  content: "\eacb";
}
.icon-bi:before {
  content: "\eaa9";
}
.icon-bi-o:before {
  content: "\ea48";
}
.icon-export:before {
  content: "\e92f";
}
.icon-filter:before {
  content: "\e9ea";
}
.icon-filter-o:before {
  content: "\e9eb";
}
.icon-apps:before {
  content: "\e9e9";
}
.icon-apps-o:before {
  content: "\e9c9";
}
.icon-gridcard:before {
  content: "\e961";
}
.icon-gridcard-o:before {
  content: "\e979";
}
.icon-type:before {
  content: "\ea2c";
}
.icon-homeapps:before {
  content: "\ea09";
}
.icon-editwidgets:before {
  content: "\ea4f";
}
.icon-market-square:before {
  content: "\ea3f";
}
.icon-market-square-o:before {
  content: "\ea42";
}
.icon-donutchart:before {
  content: "\eb84";
}
.icon-pie:before {
  content: "\e9be";
}
.icon-pie-o:before {
  content: "\ea41";
}
.icon-home:before {
  content: "\ea0a";
}
.icon-home-o:before {
  content: "\e9ca";
}
.icon-activitylist:before {
  content: "\e94b";
}
.icon-document:before {
  content: "\e9a0";
}
.icon-document-o:before {
  content: "\ea7b";
}
.icon-account:before {
  content: "\e9e8";
}
.icon-account-o:before {
  content: "\ea78";
}
.icon-advisoraccount:before {
  content: "\e958";
}
.icon-newclosedaccount:before {
  content: "\e95b";
}
.icon-action-o:before {
  content: "\eaf7";
}
.icon-transaction:before {
  content: "\e901";
}
.icon-payoutratio:before {
  content: "\e912";
}
.icon-transactions:before {
  content: "\ea74";
}
.icon-contact:before {
  content: "\e956";
}
.icon-contact-o:before {
  content: "\e6f0";
}
.icon-workflows:before {
  content: "\e92c";
}
.icon-workflows-o:before {
  content: "\e9fe";
}
.icon-workflow:before {
  content: "\ea79";
}
.icon-address:before {
  content: "\e98b";
}
.icon-address-o:before {
  content: "\e945";
}
.icon-campaigns-o:before {
  content: "\e655";
}
.icon-campaigns:before {
  content: "\e938";
}
.icon-organizer:before {
  content: "\eaaa";
}
.icon-organizer-o:before {
  content: "\ea3a";
}
.icon-newsection-o:before {
  content: "\ebb3";
}
.icon-projects-o:before {
  content: "\ea1b";
}
.icon-projects:before {
  content: "\e95f";
}
.icon-library:before {
  content: "\eb68";
}
.icon-library-o:before {
  content: "\eb30";
}
.icon-compliance-o:before {
  content: "\eafb";
}
.icon-compliance:before {
  content: "\eafc";
}
.icon-postdocument-o:before {
  content: "\e921";
}
.icon-review:before {
  content: "\eafa";
}
.icon-clientactivity:before {
  content: "\ea2d";
}
.icon-clientactivity-o:before {
  content: "\e9ab";
}
.icon-advisoractivity:before {
  content: "\ea2e";
}
.icon-advisoractivity-o:before {
  content: "\e9ac";
}
.icon-users-o:before {
  content: "\e939";
}
.icon-users:before {
  content: "\ea43";
}
.icon-advisorgroup-o:before {
  content: "\e97d";
}
.icon-advisorgroup:before {
  content: "\e9bb";
}
.icon-clientportal:before {
  content: "\ea1f";
}
.icon-clientportal-o:before {
  content: "\ea76";
}
.icon-website:before {
  content: "\e9cc";
}
.icon-cwpremove:before {
  content: "\eb70";
}
.icon-customalerts:before {
  content: "\e9ce";
}
.icon-alertrules:before {
  content: "\e9d0";
}
.icon-notes:before {
  content: "\e941";
}
.icon-notes-o:before {
  content: "\ea83";
}
.icon-withintolerance-o:before {
  content: "\eb6e";
}
.icon-modeltolerance-o:before {
  content: "\ea4d";
}
.icon-modeltolerance:before {
  content: "\ea7e";
}
.icon-lock-o:before {
  content: "\eacf";
}
.icon-lock:before {
  content: "\eace";
}
.icon-unlock-o:before {
  content: "\eac7";
}
.icon-unlock:before {
  content: "\eacd";
}
.icon-audit-o:before {
  content: "\eaf9";
}
.icon-audit:before {
  content: "\ebd8";
}
.icon-favorite-o:before {
  content: "\e989";
}
.icon-favorite:before {
  content: "\e999";
}
.icon-favorite-add:before {
  content: "\e996";
}
.icon-favorite-remove:before {
  content: "\e994";
}
.icon-switch:before {
  content: "\eb6c";
}
.icon-switch-square-o:before {
  content: "\ea40";
}
.icon-switch-circle-o:before {
  content: "\eaf3";
}
.icon-sad-o:before {
  content: "\e922";
}
.icon-group:before {
  content: "\e924";
}
.icon-group-o:before {
  content: "\e942";
}
.icon-icon-homefolder:before {
  content: "\eb9d";
}
.icon-householderfolder:before {
  content: "\eb32";
}
.icon-institutionfolder:before {
  content: "\eb31";
}
.icon-userfolder:before {
  content: "\eb33";
}
.icon-folder:before {
  content: "\ea03";
}
.icon-folder-o:before {
  content: "\ea02";
}
.icon-newfolder-o:before {
  content: "\eae5";
}
.icon-folderopen:before {
  content: "\ea00";
}
.icon-folderopen-o:before {
  content: "\e9ff";
}
.icon-close-square:before {
  content: "\eac6";
}
.icon-zipfile-square:before {
  content: "\e940";
}
.icon-txtfile-square:before {
  content: "\eadc";
}
.icon-txtfile-square-o:before {
  content: "\eab7";
}
.icon-excelfile-square:before {
  content: "\eae0";
}
.icon-excelfile-square-export:before {
  content: "\eb93";
}
.icon-pptfile-square:before {
  content: "\eadd";
}
.icon-wordfile-square:before {
  content: "\eade";
}
.icon-pdffile-square:before {
  content: "\eadf";
}
.icon-pdffile-square-export:before {
  content: "\eb94";
}
.icon-picfile-square:before {
  content: "\eae1";
}
.icon-image:before {
  content: "\e9d9";
}
.icon-uploadimage-o:before {
  content: "\e96f";
}
.icon-audio-square:before {
  content: "\eae4";
}
.icon-unknowfile-square:before {
  content: "\eae2";
}
.icon-video-square:before {
  content: "\eae3";
}
.icon-view-square:before {
  content: "\eb62";
}
.icon-clock-square:before {
  content: "\eb59";
}
.icon-complete-square:before {
  content: "\e926";
}
.icon-expired-square:before {
  content: "\ead1";
}
.icon-sandglass-square:before {
  content: "\eacc";
}
.icon-notstarted-square:before {
  content: "\eac8";
}
.icon-rejected-o:before {
  content: "\eb97";
}
.icon-rejected-square:before {
  content: "\ead2";
}
.icon-stamper-square:before {
  content: "\eab2";
}
.icon-upload-square:before {
  content: "\eab3";
}
.icon-deferred-square:before {
  content: "\eab1";
}
.icon-alerts-square:before {
  content: "\ea67";
}
.icon-assetallocation-square:before {
  content: "\ea68";
}
.icon-specialdate-square:before {
  content: "\ea62";
}
.icon-websit-square:before {
  content: "\ea6d";
}
.icon-guest-square:before {
  content: "\eab4";
}
.icon-standard-square:before {
  content: "\eab6";
}
.icon-heldawaysetup-square:before {
  content: "\eab5";
}
.icon-member-square:before {
  content: "\ea60";
}
.icon-clientreview-square:before {
  content: "\eaaf";
}
.icon-clientsetting:before {
  content: "\eab0";
}
.icon-account-square:before {
  content: "\ea66";
}
.icon-contact-square:before {
  content: "\ea6f";
}
.icon-connections-square:before {
  content: "\ea5b";
}
.icon-address-square:before {
  content: "\ea54";
}
.icon-identifications:before {
  content: "\ea71";
}
.icon-ID:before {
  content: "\e992";
}
.icon-importantInformation-square:before {
  content: "\ea73";
}
.icon-misc-square:before {
  content: "\ea6c";
}
.icon-taxinfo-square:before {
  content: "\ea5d";
}
.icon-basicinformation-square:before {
  content: "\ea50";
}
.icon-advisor-square:before {
  content: "\ea5a";
}
.icon-contactdetails-square:before {
  content: "\ea6e";
}
.icon-home-square-o:before {
  content: "\e9a7";
}
.icon-membership-square:before {
  content: "\ea5f";
}
.icon-investmentstrategy-square:before {
  content: "\ea58";
}
.icon-estateplanning-square:before {
  content: "\ea5e";
}
.icon-investment-square:before {
  content: "\ea69";
}
.icon-riskassessment-square:before {
  content: "\ea5c";
}
.icon-questionnaire:before {
  content: "\e9c0";
}
.icon-logout:before {
  content: "\eaed";
}
.icon-logout-o:before {
  content: "\e9d1";
}
.icon-org-right:before {
  content: "\eb27";
}
.icon-org-down:before {
  content: "\eb26";
}
.icon-connection-fail-o:before {
  content: "\eb2a";
}
.icon-connection-success-o:before {
  content: "\eb2b";
}
.icon-synchronize:before {
  content: "\e9c7";
}
.icon-announcement:before {
  content: "\e96e";
}
.icon-announcement-o:before {
  content: "\eb71";
}
.icon-copy:before {
  content: "\eb52";
}
.icon-copy-o:before {
  content: "\e9a3";
}
.icon-recyclebin:before {
  content: "\ea22";
}
.icon-recyclebin-o:before {
  content: "\eb24";
}
.icon-dropdown-multiple:before {
  content: "\eab8";
}
.icon-dropdown-single:before {
  content: "\eab9";
}
.icon-text-field:before {
  content: "\eabc";
}
.icon-long-text-area:before {
  content: "\eabd";
}
.icon-number:before {
  content: "\eaba";
}
.icon-url:before {
  content: "\eabb";
}
.icon-checkbox:before {
  content: "\e927";
}
.icon-checkbox-o:before {
  content: "\eac0";
}
.icon-page:before {
  content: "\eae8";
}
.icon-pages:before {
  content: "\eae9";
}
.icon-pc:before {
  content: "\eaa7";
}
.icon-mobile:before {
  content: "\eaa6";
}
.icon-pc_web:before {
  content: "\eaa5";
}
.icon-recycle:before {
  content: "\e960";
}
.icon-restore:before {
  content: "\e9a9";
}
.icon-BCM:before {
  content: "\ea90";
}
.icon-ICBC:before {
  content: "\ea8d";
}
.icon-ABC:before {
  content: "\ea8e";
}
.icon-CCB:before {
  content: "\ea91";
}
.icon-BOC:before {
  content: "\ea8f";
}
.icon-chinamerchantsbank:before {
  content: "\ea92";
}
.icon-chinaciticbank:before {
  content: "\ea93";
}
.icon-shanghaipudongdevelopmentbank:before {
  content: "\ea94";
}
.icon-industrialbank:before {
  content: "\ea95";
}
.icon-chinaeverbrightbank:before {
  content: "\ea96";
}
.icon-huaxiabank:before {
  content: "\ea97";
}
.icon-chinaguangfabank:before {
  content: "\ea98";
}
.icon-pinganbank:before {
  content: "\ea99";
}
.icon-barchart:before {
  content: "\e900";
}
.icon-barchart-o:before {
  content: "\eaab";
}
.icon-scatterplot-o:before {
  content: "\eaac";
}
.icon-barchart-h:before {
  content: "\eb72";
}
.icon-form:before {
  content: "\e9af";
}
.icon-import:before {
  content: "\eb4f";
}
.icon-planning:before {
  content: "\ea75";
}
.icon-canceled-o:before {
  content: "\eb98";
}
.icon-financialinfo-o:before {
  content: "\ea29";
}
.icon-instagram:before {
  content: "\eaf1";
}
.icon-facebook:before {
  content: "\eaee";
}
.icon-facebook-square:before {
  content: "\ea55";
}
.icon-twitter:before {
  content: "\eaef";
}
.icon-twitter-square:before {
  content: "\ea57";
}
.icon-linkedin:before {
  content: "\eaf0";
}
.icon-linkedIn-square:before {
  content: "\ea56";
}
.icon-weibo:before {
  content: "\eaf2";
}
.icon-weibo-square:before {
  content: "\eb73";
}
.icon-hidden:before {
  content: "\e93b";
}
.icon-show:before {
  content: "\e9f5";
}
.icon-narrow-square:before {
  content: "\e935";
}
.icon-amplification-square:before {
  content: "\e931";
}
.icon-amplification:before {
  content: "\e9ec";
}
.icon-narrow:before {
  content: "\e9ed";
}
.icon-newtab:before {
  content: "\e9ba";
}
.icon-email-o:before {
  content: "\ea77";
}
.icon-email:before {
  content: "\e98e";
}
.icon-reademail-o:before {
  content: "\ea08";
}
.icon-reademail:before {
  content: "\e998";
}
.icon-massemail-o:before {
  content: "\ea36";
}
.icon-historicalemail-o:before {
  content: "\ea3e";
}
.icon-emailerror-o:before {
  content: "\ebde";
}
.icon-emailpreview-o:before {
  content: "\ead4";
}
.icon-company:before {
  content: "\e98d";
}
.icon-company-o:before {
  content: "\ea14";
}
.icon-household:before {
  content: "\e97b";
}
.icon-phone:before {
  content: "\e98f";
}
.icon-phone-o:before {
  content: "\e936";
}
.icon-properties:before {
  content: "\e933";
}
.icon-post:before {
  content: "\e9ad";
}
.icon-market:before {
  content: "\e93a";
}
.icon-clear:before {
  content: "\e917";
}
.icon-tasknodate:before {
  content: "\eaa2";
}
.icon-openaccount:before {
  content: "\e9e6";
}
.icon-customize:before {
  content: "\e9a1";
}
.icon-description:before {
  content: "\e991";
}
.icon-edit:before {
  content: "\e9ae";
}
.icon-edit-circle:before {
  content: "\e988";
}
.icon-edit-circle-o:before {
  content: "\eba1";
}
.icon-save-o:before {
  content: "\e969";
}
.icon-save:before {
  content: "\eb34";
}
.icon-saveas:before {
  content: "\e9a6";
}
.icon-share:before {
  content: "\e93d";
}
.icon-membership-o:before {
  content: "\ea7a";
}
.icon-membership:before {
  content: "\e997";
}
.icon-subtract:before {
  content: "\e976";
}
.icon-gridlist:before {
  content: "\e932";
}
.icon-addcondition:before {
  content: "\e94a";
}
.icon-custom:before {
  content: "\ead7";
}
.icon-custom-square:before {
  content: "\ead0";
}
.icon-return:before {
  content: "\ea86";
}
.icon-groupby:before {
  content: "\e98c";
}
.icon-misc:before {
  content: "\e97e";
}
.icon-markasread:before {
  content: "\e9b4";
}
.icon-expandgrid:before {
  content: "\eb36";
}
.icon-collapsegrid:before {
  content: "\eb35";
}
.icon-billingallocation:before {
  content: "\e977";
}
.icon-managernew:before {
  content: "\e955";
}
.icon-massupdate-o:before {
  content: "\e97c";
}
.icon-advyzon .path1:before {
  content: "\e903";
  color: rgb(23, 159, 219);
}
.icon-advyzon .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(23, 159, 219);
}
.icon-advyzon .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(240, 141, 40);
}
.icon-advyzon .path4:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(23, 159, 219);
}
.icon-advyzon .path5:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(240, 141, 40);
}
.icon-advyzon .path6:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(240, 141, 40);
}
.icon-advyzon .path7:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(28, 159, 219);
}
.icon-advyzon .path8:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(23, 159, 219);
}
.icon-advyzon .path9:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(241, 148, 41);
}
.icon-advyzon .path10:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(23, 159, 219);
}
.icon-advyzon .path11:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(241, 148, 41);
}
.icon-advyzon .path12:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(23, 159, 219);
}
.icon-advyzon .path13:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(23, 159, 219);
}
.icon-advyzon .path14:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(23, 159, 219);
}
.icon-advyzon .path15:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(23, 159, 219);
}
.icon-logo:before {
  content: "\e918";
}
.icon-logo-graphics:before {
  content: "\e930";
}
.icon-logo-colorful .path1:before {
  content: "\e972";
  color: rgb(21, 160, 220);
}
.icon-logo-colorful .path2:before {
  content: "\e9cf";
  margin-left: -1em;
  color: rgb(239, 141, 39);
}
.icon-logo-colorful .path3:before {
  content: "\e9f2";
  margin-left: -1em;
  color: rgb(21, 160, 220);
}
.icon-logo-colorful .path4:before {
  content: "\e9f3";
  margin-left: -1em;
  color: rgb(239, 141, 39);
}
.icon-logo-colorful .path5:before {
  content: "\ea1c";
  margin-left: -1em;
  color: rgb(239, 141, 39);
}
.icon-logo-colorful .path6:before {
  content: "\ea1d";
  margin-left: -1em;
  color: rgb(21, 160, 220);
}
.icon-logo-colorful .path7:before {
  content: "\ea34";
  margin-left: -1em;
  color: rgb(21, 160, 220);
}
.icon-schwab-square:before {
  content: "\ea2f";
}
.icon-veo-square:before {
  content: "\ea30";
}
.icon-awaiting-o:before {
  content: "\eaf8";
}
.icon-partnerapp:before {
  content: "\e9bc";
}
.icon-medal:before {
  content: "\ea9c";
}
.icon-billing:before {
  content: "\e9db";
}
.icon-firmsetup:before {
  content: "\e965";
}
.icon-firmsetup-o:before {
  content: "\e934";
}
.icon-branch:before {
  content: "\ea44";
}
.icon-newbranch-o:before {
  content: "\ea45";
}
.icon-firmadministration:before {
  content: "\e968";
}
.icon-benchmarks:before {
  content: "\ea21";
}
.icon-reportbuilder:before {
  content: "\ea20";
}
.icon-definitionlibrary:before {
  content: "\e964";
}
.icon-reportingcenter:before {
  content: "\ea1a";
}
.icon-batchsetup:before {
  content: "\e9aa";
}
.icon-batchsetup-o:before {
  content: "\ea17";
}
.icon-tag:before {
  content: "\e990";
}
.icon-firmdatamanagement:before {
  content: "\e93e";
}
.icon-archive:before {
  content: "\eaf5";
}
.icon-archive-o:before {
  content: "\eaf6";
}
.icon-drag:before {
  content: "\eac5";
}
.icon-more-v:before {
  content: "\e92a";
}
.icon-more-h:before {
  content: "\ea9b";
}
.icon-pin-o:before {
  content: "\e9d8";
}
.icon-pin:before {
  content: "\e9d6";
}
.icon-more-square-o:before {
  content: "\e9b9";
}
.icon-touchpoint:before {
  content: "\ea27";
}
.icon-touchpoint-o:before {
  content: "\ea26";
}
.icon-attach:before {
  content: "\e937";
}
.icon-school-o:before {
  content: "\eb76";
}
.icon-school:before {
  content: "\eb79";
}
.icon-medical-o:before {
  content: "\eb7a";
}
.icon-medical:before {
  content: "\eaff";
}
.icon-security:before {
  content: "\eae6";
}
.icon-security-o:before {
  content: "\eae7";
}
.icon-socialsecurity-o:before {
  content: "\eb3a";
}
.icon-socialsecurity:before {
  content: "\eb3b";
}
.icon-vacation-o:before {
  content: "\eb40";
}
.icon-vacation:before {
  content: "\eb41";
}
.icon-daycare-o:before {
  content: "\eb00";
}
.icon-daycare:before {
  content: "\e95a";
}
.icon-legacy-o:before {
  content: "\eb47";
}
.icon-legacy:before {
  content: "\eb46";
}
.icon-healthinsurance-o:before {
  content: "\eb1b";
}
.icon-healthinsurance:before {
  content: "\eb37";
}
.icon-relocation:before {
  content: "\eb48";
}
.icon-relocation-o:before {
  content: "\eb49";
}
.icon-retirement:before {
  content: "\eb4a";
}
.icon-retirement-o:before {
  content: "\eb4b";
}
.icon-vehicle-o:before {
  content: "\eb42";
}
.icon-vehicle:before {
  content: "\eb43";
}
.icon-education:before {
  content: "\eb44";
}
.icon-education-o:before {
  content: "\eb45";
}
.icon-job-square:before {
  content: "\eb9e";
}
.icon-job-o:before {
  content: "\eb2e";
}
.icon-job:before {
  content: "\eb74";
}
.icon-transportation-o:before {
  content: "\eb02";
}
.icon-transportation:before {
  content: "\e973";
}
.icon-disabilityinsurance-o:before {
  content: "\eb3c";
}
.icon-disabilityinsurance:before {
  content: "\eb3d";
}
.icon-print-o:before {
  content: "\e916";
}
.icon-print:before {
  content: "\e96a";
}
.icon-big-ticket-item-o:before {
  content: "\eb1c";
}
.icon-big-ticket-item:before {
  content: "\e9f0";
}
.icon-realestate-o:before {
  content: "\e9f1";
}
.icon-realestate:before {
  content: "\eb16";
}
.icon-businessasset-o:before {
  content: "\e9fd";
}
.icon-businessasset:before {
  content: "\eb15";
}
.icon-alaryorwages-o:before {
  content: "\eb10";
}
.icon-budget-o:before {
  content: "\eb06";
}
.icon-budget:before {
  content: "\eb75";
}
.icon-propertytax-o:before {
  content: "\eb09";
}
.icon-bankaccount-o:before {
  content: "\eb13";
}
.icon-bankaccount:before {
  content: "\eb77";
}
.icon-rent-o:before {
  content: "\eb03";
}
.icon-rent:before {
  content: "\eb78";
}
.icon-interest-o:before {
  content: "\eb0f";
}
.icon-workspace:before {
  content: "\ea28";
}
.icon-workspace-o:before {
  content: "\ea33";
}
.icon-gift-o:before {
  content: "\eb04";
}
.icon-gift:before {
  content: "\eb81";
}
.icon-stockplans:before {
  content: "\eb11";
}
.icon-stockplan-o:before {
  content: "\eb7b";
}
.icon-investmentaccount:before {
  content: "\eb14";
}
.icon-investmentaccount-o:before {
  content: "\eb7c";
}
.icon-creditcard-o:before {
  content: "\eb18";
}
.icon-creditcard:before {
  content: "\eb7d";
}
.icon-food:before {
  content: "\eb08";
}
.icon-food-o:before {
  content: "\eb7e";
}
.icon-recreation-o:before {
  content: "\eafe";
}
.icon-recreation:before {
  content: "\eb7f";
}
.icon-otherincome-o:before {
  content: "\eb05";
}
.icon-otherincome:before {
  content: "\eb82";
}
.icon-loanaccount:before {
  content: "\eb19";
}
.icon-loanaccount-o:before {
  content: "\eb25";
}
.icon-conversion:before {
  content: "\ea89";
}
.icon-conversion-o:before {
  content: "\eb8a";
}
.icon-financial:before {
  content: "\e943";
}
.icon-financial-o:before {
  content: "\ea0c";
}
.icon-up:before {
  content: "\e99c";
}
.icon-up-o:before {
  content: "\ea0e";
}
.icon-down:before {
  content: "\e99a";
}
.icon-down-o:before {
  content: "\ea10";
}
.icon-number-square:before {
  content: "\ea12";
}
.icon-number-square-o:before {
  content: "\eaa0";
}
.icon-long-term-care:before {
  content: "\eb0a";
}
.icon-long-term-care-o:before {
  content: "\eb01";
}
.icon-lifeinsurance-o:before {
  content: "\eb3e";
}
.icon-lifeinsurance:before {
  content: "\eb3f";
}
.icon-pensions:before {
  content: "\eb0b";
}
.icon-pensions-o:before {
  content: "\eb17";
}
.icon-alimonychildsupport-income-o:before {
  content: "\eb23";
}
.icon-alimonychildsupport-income:before {
  content: "\eb83";
}
.icon-mortgage-o:before {
  content: "\eb85";
}
.icon-mortgage:before {
  content: "\eb1a";
}
.icon-asset:before {
  content: "\ea9f";
}
.icon-asset-o:before {
  content: "\ea4b";
}
.icon-contactdetails:before {
  content: "\e98a";
}
.icon-cashormobilewallet:before {
  content: "\eb12";
}
.icon-calculatedfee:before {
  content: "\e929";
}
.icon-theme-o:before {
  content: "\e9d7";
}
.icon-theme:before {
  content: "\eabe";
}
.icon-kit-o:before {
  content: "\ebdc";
}
.icon-royaltieslicensing-o:before {
  content: "\eb0d";
}
.icon-newreport:before {
  content: "\e92e";
}
.icon-report:before {
  content: "\eb91";
}
.icon-reports:before {
  content: "\e9c2";
}
.icon-birthday-o:before {
  content: "\eb90";
}
.icon-birthday:before {
  content: "\e981";
}
.icon-anniversary-o:before {
  content: "\e97f";
}
.icon-anniversary:before {
  content: "\ea19";
}
.icon-homeownerinsurance-o:before {
  content: "\eb38";
}
.icon-homeownerinsurance:before {
  content: "\eb39";
}
.icon-memo:before {
  content: "\ea23";
}
.icon-select-triangle:before {
  content: "\e95c";
}
.icon-rise:before {
  content: "\ea8b";
}
.icon-workflownewstage:before {
  content: "\e92b";
}
.icon-workflownewdecision:before {
  content: "\e925";
}
.icon-end-o:before {
  content: "\eba9";
}
.icon-sidebar:before {
  content: "\e99e";
}
.icon-maxgain-o:before {
  content: "\ea4e";
}
.icon-areachart:before {
  content: "\eb8e";
}
.icon-scatterplot:before {
  content: "\eb8f";
}
.icon-maxtrades-o:before {
  content: "\ea4c";
}
.icon-charitable-o:before {
  content: "\eb1d";
}
.icon-RMD:before {
  content: "\ea87";
}
.icon-holding-o:before {
  content: "\ea7f";
}
.icon-holding:before {
  content: "\e9b0";
}
.icon-marginposition-o:before {
  content: "\eba7";
}
.icon-vs:before {
  content: "\e975";
}
.icon-comparison:before {
  content: "\ea47";
}
.icon-resetcomponent:before {
  content: "\e962";
}
.icon-billingfeesettings-o:before {
  content: "\e9f4";
}
.icon-billingfeesettings:before {
  content: "\e9f6";
}
.icon-at:before {
  content: "\e99b";
}
.icon-good-circle:before {
  content: "\e99d";
}
.icon-sms-o:before {
  content: "\e9f8";
}
.icon-sms:before {
  content: "\e913";
}
.icon-user-multiple:before {
  content: "\eac2";
}
.icon-user-single:before {
  content: "\eac3";
}
.icon-personal:before {
  content: "\ea8c";
}
.icon-log-o1:before {
  content: "\ea16";
}
.icon-log:before {
  content: "\e94e";
}
.icon-zipfile:before {
  content: "\ea05";
}
.icon-txtfile:before {
  content: "\ea07";
}
.icon-pptfile:before {
  content: "\ea0b";
}
.icon-wordfile:before {
  content: "\ea0d";
}
.icon-pdffile:before {
  content: "\ea0f";
}
.icon-excelfile:before {
  content: "\ea11";
}
.icon-picfile:before {
  content: "\ea13";
}
.icon-unknowfile:before {
  content: "\ea15";
}
.icon-video:before {
  content: "\ea32";
}
.icon-audio:before {
  content: "\ea35";
}
.icon-html:before {
  content: "\ea37";
}
